.bookContainer {
  margin: auto auto;
  background-color: #fafafa;
}

.list {
  margin: auto auto;
  border-bottom: solid 1px #e8e8e8;
  width: 90%;
  padding-inline-start: 0;
  padding-top: 1px;
  padding-bottom: 1%;
}

.list li {
  list-style-type: none;
}
